.idea
cmake-build-debug/*
3rdparty/opencv/*
3rdparty/ncnn-bak/*
3rdparty/MNN-bak/*
build_android/*
*.zip
3rdparty/*
full_models/*
images/tmp/*
.DS_Store
build/
install/
build/
.xmake
tools/pack/pack_elixir_mb01/
examples/*
doxygen/
build/
.vscode/
3rdparty_hyper_inspire_op
*.so
__pycache__
build/
dist/
hyperlpr3.egg-info/
venv/
*.pyc
*~
*.swp

